*{
	margin:0px;
	padding:0px;

}
html{
		
scroll-behavior: smooth;
}
body{
	text-align: center;
	font-family: 'Mali', cursive;
}
ul{
	display:flex;
	list-style: none;
	float:right;
	text-align: center;
}
li{
	margin-right: 30px;
	margin-top:10px;
	background-color: rgb(255,255,255,0.5);
	
	width:100px;
	padding-right:10px;
	padding-top:10px;
	padding-left:6px;
	padding-bottom:3px;
	border-color: mediumpurple;
	border-style:solid;
	border-radius:30px;
	color:mediumpurple;
	text-transform:uppercase;
	font-size:20px;
    transition:color;
	transition-duration:0.7s;
	transition-timing-function: ease;
	font-weight:bold;
	
}
header h1{
	padding-top:10px;
	color:sandybrown;
	font-family:cursive;
	float:left;
	background-color: rgb(255,255,255,0.5);
}
header{
	
	height:100px;
	position:sticky;
	top:0px;
	z-index:990;
}



h2{
	margin-top: 10px;
	font-size: 30px;
	color:navajowhite;
}
section#welcome{
	background-color: tomato;
		height:800px;
}
section#bio{
	height:500px;
}
div.line{
	height:4px;
	width:60px;
	background-color: darkviolet;
	margin:auto;
	margin-top:40px;
	margin-bottom:20px;
}
section p{
	font-size:30px;
	font-family: monospace;
	color: peachpuff;
	width:800px;

}
li:hover{
	color:black;
	
}

section#bio{
	background-color: lightsalmon;
	
}
section{
	text-align: center;
	width:800px;
	border-radius:30px;
	margin-bottom:20px;
	margin:auto;

}
section#Hobbies{
	background-color:palevioletred;
}
h2{
	color:tomato;	
}
p span{
	text-transform: capitalize;
	font-weight:bold;
	letter-spacing:2px;
	text-shadow: 1px 1px 1px red;
	text-decoration: underline;
	text-decoration-color: deeppink;
	
}
div#img img{
	width:300px;
	height:400px;
	border-radius:10%;
	opacity: 0.8;
	transition:transform 1s ease;
	margin-bottom:10px;
}
section#Gallery{
	background-color: powderblue;
	
	margin-bottom:20px;
	margin:auto;
	border-radius:10%;
}
div#img img:hover{
	cursor:pointer;
	opacity:1;
	transform:scale(1.2);
}
section#Projects{
		background-color: mediumpurple;

}
section#Projects p{
	color:pink;
	
}
section#Projects p span{
	
	text-shadow:1px 1px 1px green;
	text-decoration: none;
	color:greenyellow;
	
	
}
img{
	border-radius: 50%;
	margin-top:30px;
}